.cont {
    margin: 20px;
    background-color: #111;
    margin-bottom: 0px;
        padding-bottom: 150px;
}

.sidebar {
    width: 220px;
    position:fixed;
    top: 1;
    left:0;
    overflow: hidden;
    padding: 20px;
    border-right: 1px solid #ddd;
    background-color: #111;
    color: #fff;
}

.product-list {
    margin-left: 240px;
    padding: 10px;
    flex: 1;
    background-color: #111;
    color: #fff;
    min-height: 100vh;
}

.filters {
    padding: 20px;
}

.filters h2 {
    font-size: 24px;
    font-weight: 600;
}

.filters select,
.filters input[type="checkbox"] {
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}


.filters label {
    font-weight: 500;
}

.price-range {
    margin-bottom: 25px;
}

.price-range h3{
    font-size: 1.5rem;
    margin: 20px 0px;
}

.range-track {
    height: 6px;
    width: 100%;
    background: #ccc;

}

.range-thumb {
    height: 16px;
    width: 16px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

.price-range-values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

select{
    background-color: #232323;
    color: #fff;
}


.filters .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filters .checkbox-group ul {
    list-style-type: none;
    padding: 0;
}

.filters .checkbox-group li {
    margin-bottom: 10px;
}

.filters .checkbox-group label {
    display: flex;
    font-size: 16px;
}

.filters .checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}



.property-card {
    border: 1px solid #ddd;
    background-color: #232323;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.property-card-body {
    padding: 10px 22px;
}

.card-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}


.card-text {
    margin: 15px 0px;
    color: #fff;
    font-size: 16px;
}

.price {
    color: #d9534f;
    margin-right: 8px;
    font-size: 24px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

































